body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

main {
    margin: 0 !important;
}

div::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

div::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

div::-webkit-scrollbar-thumb {
    background-color: #89b5f7;
}

body::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
    background-color: #89b5f7;
}

.ant-layout {
    background: rgb(235, 243, 254) !important;
}

.ant-layout-header {
    background: white !important;
}

.ant-layout-footer {
    background: white !important;
}
